@charset "utf-8";
* {
    box-sizing: border-box;
	padding:0;
	margin:0;
}
.fmbd_f_l {
	float:left;	
}
.fmbd_f_r {
	float:right;	
}

.fmbd_row {
  *zoom: 1;
  width:100%;
} 

.fmbd_row:before, .fmbd_row:after {
  display: table;
  content: "";
}
.fmbd_row:after {
  clear: both;
}
img{
	border:0;
	width:100%;
	}
.fm-container-full{
	width:100%;	
	}
.fm-main-container{	
	max-width:1100px;
	width:100%;
	margin:0 auto;
	}
a{
	cursor:pointer;
	text-decoration:none;	
	}
/*
Font-Weight
-----------------------------------------------------------------------------*/
.fm_bold_100{
	font-weight:100;
	}
.fm_bold_200{
	font-weight:200;
	}
.fm_bold_300{
	font-weight:300;
	}
.fm_bold_400{
	font-weight:400;
	}
.fm_bold_500{
	font-weight:500;
	}
.fm_bold_600{
	font-weight:600;
	}
.fm_bold_700{
	font-weight:700;
	}
.fm_bold_800{
	font-weight:800;
	}
.fm_bold_900{
	font-weight:900;
	}
.fm_bold_1000{
	font-weight:1000;
	}