@charset "utf-8";
/*
Margin
-----------------------------------------------------------------------------*/
.fm_margin_00 {
	margin:0%;	
}
.fm_margin_top_00 {
	margin-top:0%;	
}
.fm_margin_bottom_00 {
	margin-bottom:0%;	
}
.fm_margin_left_00 {
	margin-left:0%;
}
.fm_margin_right_00 {
	margin-right:0%;
	/*border-bottom: 1px #252525 solid;	*/
}
.fm_margin_top_01 {
	margin-top:1%;	
}
.fm_margin_bottom_01 {
	margin-bottom:1%;	
}
.fm_margin_left_01 {
	margin-left:1%;
}
.fm_margin_right_01 {
	margin-right:1%;
	/*border-bottom: 1px #252525 solid;	*/
}
.fm_margin_top_02 {
	margin-top:2%;	
}
.fm_margin_bottom_02 {
	margin-bottom:2%;	
}
.fm_margin_left_02 {
	margin-left:2%;
}
.fm_margin_right_02 {
	margin-right:2%;	
}
.fm_margin_top_03 {
	margin-top:3%;	
}
.fm_margin_bottom_03 {
	margin-bottom:3%;	
}
.fm_margin_left_03 {
	margin-left:3%;
}
.fm_margin_right_03 {
	margin-right:3%;	
}
.fm_margin_top_04 {
	margin-top:4%;	
}
.fm_margin_bottom_04 {
	margin-bottom:4%;	
}
.fm_margin_left_04 {
	margin-left:4%;
}
.fm_margin_right_04 {
	margin-right:4%;	
}
.fm_margin_top_05 {
	margin-top:5%;	
}
.fm_margin_bottom_05 {
	margin-bottom:5%;	
}
.fm_margin_left_05 {
	margin-left:5%;
}
.fm_margin_right_05 {
	margin-right:5%;	
}

.fm_margin_top_06 {
	margin-top:6%;	
}
.fm_margin_bottom_06 {
	margin-bottom:6%;	
}
.fm_margin_left_06 {
	margin-left:6%;
}
.fm_margin_right_06 {
	margin-right:6%;	
}

.fm_margin_top_10 {
	margin-top:10%;	
}
.fm_margin_bottom_10 {
	margin-bottom:10%;	
}
.fm_margin_left_10 {
	margin-left:10%;
}
.fm_margin_right_10 {
	margin-right:10%;	
}