@charset "utf-8";
/*
Padding
-----------------------------------------------------------------------------*/
.fm_padding_00 {
	padding:0%;	
}
.fm_padding_top_00 {
	padding-top:0%;	
}
.fm_padding_bottom_00 {
	padding-bottom:0%;	
}
.fm_padding_left_00 {
	padding-left:0%;
}
.fm_padding_right_00 {
	padding-right:0%;	
}
.fm_padding_top_00 {
	padding-top:0%;	
}
.fm_padding_bottom_01 {
	padding-bottom:1%;	
}
.fm_padding_left_01 {
	padding-left:1%;
}
.fm_padding_right_01 {
	padding-right:1%;	
}
.fm_padding_top_02 {
	padding-top:2%;	
}
.fm_padding_bottom_02 {
	padding-bottom:2%;	
}
.fm_padding_left_02 {
	padding-left:2%;
}
.fm_padding_right_02 {
	padding-right:2%;	
}
.fm_padding_top_03 {
	padding-top:3%;	
}
.fm_padding_bottom_03 {
	padding-bottom:3%;	
}
.fm_padding_left_03 {
	padding-left:3%;
}
.fm_padding_right_03 {
	padding-right:3%;	
}

.fm_padding_top_04 {
	padding-top:4%;	
}
.fm_padding_bottom_04 {
	padding-bottom:4%;	
}
.fm_padding_left_04 {
	padding-left:4%;
}
.fm_padding_right_04 {
	padding-right:4%;	
}

.fm_padding_top_05 {
	padding-top:5%;	
}
.fm_padding_bottom_05 {
	padding-bottom:5%;	
}
.fm_padding_left_05 {
	padding-left:5%;
}
.fm_padding_right_05 {
	padding-right:5%;	
}

.fm_padding_top_06 {
	padding-top:6%;	
}
.fm_padding_bottom_06 {
	padding-bottom:6%;	
}
.fm_padding_left_06 {
	padding-left:6%;
}
.fm_padding_right_06 {
	padding-right:6%;	
}

.fm_padding_top_07 {
	padding-top:7%;	
}
.fm_padding_bottom_07 {
	padding-bottom:7%;	
}
.fm_padding_left_07 {
	padding-left:7%;
}
.fm_padding_right_07 {
	padding-right:7%;	
}

.fm_padding_top_08 {
	padding-top:8%;	
}
.fm_padding_bottom_08 {
	padding-bottom:8%;	
}
.fm_padding_left_08 {
	padding-left:8%;
}
.fm_padding_right_08 {
	padding-right:8%;	
}

.fm_padding_top_09 {
	padding-top:9%;	
}
.fm_padding_bottom_09 {
	padding-bottom:9%;	
}
.fm_padding_left_09 {
	padding-left:9%;
}
.fm_padding_right_09 {
	padding-right:9%;	
}

.fm_padding_top_10 {
	padding-top:10%;	
}
.fm_padding_bottom_10 {
	padding-bottom:10%;	
}
.fm_padding_left_10 {
	padding-left:10%;
}
.fm_padding_right_10 {
	padding-right:10%;	
}